/* Wrapper for sticky footer  */
.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* ****************************************************** */

.logo-header {
  margin-left: 40px;
}

.nav-links {
  margin-right: 40px;
}

.nav-route {
  font-size: 20px;
}

/* ****************************************************** */

/* Fixes for width issue with React Date Picker */
.react-datepicker__input-container input {
  width: 200px !important;
}

.react-datepicker__time-list li {
  width: 75px !important;
}

/* ****************************************************** */

/* <footer> element  */
.page-footer {
  color: #000000;
}

/* "About" | "Connect" footer headers */
.page-footer h6 {
  font-size: 16px;
  font-weight: 500;
}

/* Footer text and external links */
.page-footer p,
.page-footer a {
  font-size: 14px;
}

/* <ul> element with all external links */
.footer-links a {
  color: #000000;
}

.footer-links a:hover,
.footer-copyright a:hover {
  color: #2727bd;
}

/* Copyright and "View Project on GitHub" */
.footer-copyright div,
.footer-copyright a {
  color: #000000;
}
/* ****************************************************** */

/*Landing Page Element*/

/*Jumbotron background and general children styling*/
#jumbotron {
  position: relative;
  background: url("./images/landing-bg.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/* Title and Pitch's z-index */
#jumbotron h2,
#jumbotron h3 {
  z-index: 5;
}

/* Title font-size and margins */
#jumbotron h2 {
  font-size: 10.5rem;
  margin: 0;
  font-weight: 300;
}

/*Pitch's font-weight*/
#jumbotron h3 {
  font-weight: 300;
  margin-bottom: 50px;
}

/* Jumbotron background tint */
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: inherit;
  z-index: 0;
  width: 100%;
}
/* ****************************************************** */

/* Map */
.map-container {
  height: 500px;
}

/* Listing */
.listing-price {
  width: 50% !important;
  margin-right: 0 !important;
  margin-bottom: 12px;
  font-size: 15px;
}

.info-window-container {
  width: 60%;
}

.listing-hours span {
  font-size: 15px;
}

.listing-hours .input-field.inline {
  width: 50%;
  margin: 0;
}

.listing-hours .input-field.inline input {
  width: 60%;
  height: 2rem;
  margin-left: 7px;
}
